* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: large;
  font-weight: 400;
}
#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border-radius: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

button {
  padding: 2px;
  font-size: small;
  font-weight: 600;
}
button:hover{
  cursor: pointer;
}
img {
  border: 2px rgb(31, 29, 29) solid;
  width: 100%;
  height: 200px;
}